/* RESET STYLING */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BACKGROUND IMAGE */
body {
    background-color: #000;
    background-image: url(./../img/bg\ pattern.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 20vh -14vw;
}

/* HEADER STYLING */
header {
    padding: 20px 0 20px 0;
    font-family: 'Baloo Chettan 2', cursive;
    /* font-family: 'Lato', sans-serif; */
    color: #fff;
    font-size: 25px;
    display: flex;
    justify-content: space-between;
}
header a{
    text-decoration: none;
}

#secondary{
    color: rgb(255,255,255,0.5);
    font-size: 25px;
    padding-top: 25px;
    padding-left: 15px;
    /* text-decoration: none; */
}
#secondary:hover{
    color: #EF0B74;
}

/* MAIN STYLING */
main {
    font-family: 'Lato', sans-serif;
    color: #fff;
}

/* STYLING OF BUTTON IN MAIN */
main button{
    position: absolute;
    background-color: transparent;
    border: transparent;
    right: 20px;
    /* bottom: 200px; */
}

/* STYLING OF FORM IN MAIN */
.container {
    color: #EF0B74;
}
input[type=email] {
    min-width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: thin solid rgb(255,255,255,0.35);
}
input[type=password] {
    min-width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: thin solid rgb(255,255,255,0.35);
}
/* STYLING OF "FORGOT PASSWORD" */
.psw {
    color: rgb(255, 255, 255, 0.8);
    float: right;
}

.psw a{
    color: rgb(255, 255, 255, 0.8);
}
/* STYLING OF WRAPPER */
.wrapper {
    width: 100vw;
    margin: 0 auto;
    height: 100vh;
    display: grid;
    grid-template-rows: 100px 1fr 100px;
    align-items: center;
    justify-content: center;
}

/* RESPONSIVEYNESS  */
@media only screen and (min-width: 400px) {
    body {
        background-position:  85vw;
    }
}